<template>
  <v-container>
    <div class="data-list">
      <div class="topnav">
        <h1>Clients</h1>
        <v-btn 
          outlined
          @click="newItem"
          >
          New Client
        </v-btn>
      </div>
      <v-data-table
        :headers="headers"
        :items="data.clients"
        :items-per-page="10"
      >
      <!-- Parse providers to display name -->
      <template v-slot:item.providers="{item}">
        <td>{{providerNames(item.providers).join(", ")}}</td>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-btn outlined small class="mr-2"
          @click="editItem(item)">
          Edit
        </v-btn>
        <v-btn outlined small class="mr-2"
          @click="handleDelete(item)">
          Delete
        </v-btn>
      </template>
      </v-data-table>
      <!-- edit client dialog-->
      <v-dialog 
        v-model="openDialog"
        dense
        persistent
        width="600"
        >
        <v-card>
          <v-card-title>
            {{updateLabel}} Client
          </v-card-title>
          <v-form>
            <v-card-text>
              <v-row>
                <v-col md="3" class="text-right">Name:</v-col>
                <v-col>
                  <v-text-field outlined dense v-model="editClient.name" />
                </v-col>
              </v-row>
              <v-row align="top">
                <v-col md="3" class="text-right">Email:</v-col>
                <v-col>
                  <v-text-field type="email" required outlined dense v-model="editClient.email" />
                </v-col>
              </v-row>
              <v-row align="top">
                <v-col md="3" type="tel" required class="text-right">Phone:</v-col>
                <v-col>
                  <v-text-field outlined dense
                    return-masked-value
                    mask="###-###-####"
                  v-model="editClient.phone" />
                </v-col>
              </v-row>
              <v-row align="top">
                <v-col md="3" class="text-right">Providers:</v-col>
                <v-col>
                  <div style="display:flex">
                    <v-text-field outlined dense
                      v-model="providerName"
                    />
                    <v-btn outlined :disabled="!providerName" class="ml-1">
                      <v-icon>mdi-plus</v-icon> Add
                    </v-btn>
                  </div>
                  <div>
                    <div dense v-for="p of data.providers" :key="p.id">
                      <v-checkbox dense
                        :value="p.id"
                        :label="p.name"
                        @change="itemchanged(p)"
                        v-model="clientproviders" />
                    </div>
                    {{clientproviders}}
                  </div>
                </v-col>
              </v-row>
            </v-card-text>
            <v-footer>
              <v-btn outlined text @click="deleteItem" class="error">Delete</v-btn>
              <v-spacer></v-spacer>
              <v-btn outlined text class="mr-1" @click="closeEdit">Cancel</v-btn>
              <v-btn outlined text class="mr-1" :disabled="!validate" @click="saveClient">Save Client</v-btn>
            </v-footer>
          </v-form>
        </v-card>
      </v-dialog>
    </div>
  </v-container>
</template>

<script>
  export default {
    name: 'Home',
    created () {
      this.fetchData();
    },
    data () {
      return {
        baseUrl: 'http://localhost:3060/client',
        openDialog: false,
        updateLabel: 'Edit',
        canDeleteclient: false,
        canAddclient: false,
        clientproviders: [],
        providerName: '',
        client: {
          name: '',
          email: '',
          phone: '',
          providers: []
        },
        headers: [
          {
            text: 'Name',
            align: 'start',
            sortable: true,
            value: 'name',
          },
          {
            text: 'Email',
            align: 'start',
            sortable: true,
            value: 'email',
          },
          {
            text: 'Phone',
            align: 'start',
            sortable: true,
            value: 'phone',
          },
          {
            text: 'Providers',
            align: 'start',
            sortable: true,
            value: 'providers'
          },
          {
            text: 'Actions',
            value: 'actions'
          }
        ],
        data: [],
        editClient: {},
        action: ''
      }
    },
    computed: {
      validate() {
        return this.editClient.name
                && this.editClient.email
                && this.editClient.phone
      }
    },
    methods: {
      fetchData() {
        this.$http.get(`${this.baseUrl}/fetch`)
            .then(resp => {
              this.data = resp.data
              console.log('clientApp::data::',this.data)
            })
      },
      isClientProvider(p) {
        return this.data.providers.find(pr => pr.id === p.id)
      },
      providerNames(providers) {
        let d = []
        if (providers) {
          providers.forEach(p => {
            d.push(this.data.providers.find(pr => pr.id === p.id))
          })
        }
        return d.map(v => v.name)
      },
      editItem(item) {
        this.openDialog = true
        this.updateLabel = 'Edit'
        this.editClient = item
        this.clientproviders = item.providers.map(p => p.id)
        this.action = 'Edit'
      },
      handleDelete(item) {
        this.editClient = item
        this.deleteItem()
      },
      deleteItem() {
        this.$http.post(`${this.baseUrl}/delete`, this.editClient)
        .then(() => {
        this.openDialog = false
          this.fetchData();
        })
      },
      closeDialog() {
        this.openDialog = false
      },
      closeEdit() {
        this.closeDialog()
      },
      saveClient() {
        this.closeDialog()
        this.editClient.providers = this.clientproviders.map(cp => {
          return {"id": cp}
        });
        const url = `${this.baseUrl}/update`;
        console.log('client/update:', url);
        console.log('::editClient:', this.editClient._id);
        this.$http.post(url, this.editClient)
          .then(() => {
            this.fetchData();
          })
      },
      closeDelete() {
        this.closeDialog()
      },
      newItem() {
        this.openDialog = true
        this.updateLabel = 'New'
        this.clientproviders = []
        this.editClient = {name: '', phone: '', email: '', providers: []}
      }
    }
  }
</script>
<style scoped>
  .topnav {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1em;
  }
  .data-list {
    padding: 1em 2em;
    width: 60vw;
    margin: 2em auto;
    box-shadow: 0 2px 4px #666;
  }
</style>