<template>
  <div>
    <v-dialog 
      v-model="openDialog"
      dense
      persistent
      width="600"
      >
      <v-card>
        <v-card-title>
          {{updateLabel}} Client
        </v-card-title>
        <v-form>
          <v-card-text>
            <v-row>
              <v-col md="3" class="text-right">Name:</v-col>
              <v-col>
                <v-text-field outlined dense v-model="editClient.name" />
              </v-col>
            </v-row>
            <v-row align="top">
              <v-col md="3" class="text-right">Email:</v-col>
              <v-col>
                <v-text-field type="email" required outlined dense v-model="editClient.email" />
              </v-col>
            </v-row>
            <v-row align="top">
              <v-col md="3" type="tel" required class="text-right">Phone:</v-col>
              <v-col>
                <v-text-field outlined dense
                  return-masked-value
                  mask="###-###-####"
                v-model="editClient.phone" />
              </v-col>
            </v-row>
            <v-row align="top">
              <v-col md="3" class="text-right">Providers:</v-col>
              <v-col>
                <div style="display:flex">
                  <v-text-field outlined dense
                    v-model="providerName"
                  />
                  <v-btn outlined :disabled="!providerName" class="ml-1">
                    <v-icon>mdi-plus</v-icon> Add
                  </v-btn>
                </div>
                <div>
                  <div dense v-for="p of data.providers" :key="p.id">
                    <v-checkbox dense
                      :value="p.id"
                      :label="p.name"
                      @change="itemchanged(p)"
                      v-model="clientproviders" />
                  </div>
                  {{clientproviders}}
                </div>
              </v-col>
            </v-row>
          </v-card-text>
          <v-footer>
            <v-btn outlined text @click="deleteItem" class="error">Delete</v-btn>
            <v-spacer></v-spacer>
            <v-btn outlined text class="mr-1" @click="closeEdit">Cancel</v-btn>
            <v-btn outlined text class="mr-1" :disabled="!validate" @click="saveClient">Save Client</v-btn>
          </v-footer>
        </v-form>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: 'ClientEdit',
  props: {
    openDialog: {
      type: Boolean,
      default: false
    },
    updateLabel: {
      type: String,
      default: ''
    }
  },
  created () {
    this.open = this.openDialog
  },
  data () {
    return {
      open: false,
      editClient: {},
      client: {
        name: '',
        email: '',
        phone: '',
        providers: []
      },
    }
  }
}
</script>