<template>
  <v-container>
    <v-toolbar>
      <h2>Clients</h2>
      <v-spacer></v-spacer>
      <v-btn smallraised color="primary" @click="newItem">New Client</v-btn>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="data.clients"
      :items-per-page="10"
    >
      <!-- Parse providers to display name -->
      <template v-slot:item.providers="{item}">
        <td>{{providerNames(item.providers).join(", ")}}</td>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-btn small class="mr-2 primary"
          @click="editItem(item)">
          Edit
        </v-btn>
        <v-btn small class="mr-2 error"
          @click="handleDelete(item)">
          Delete
        </v-btn>
      </template>
    </v-data-table>
    <v-dialog v-model="openDialog" dense persistent width="600">
      <v-card>
        <v-card-title>{{updateLabel}} Client</v-card-title>
        <v-card>
          <v-card-text>
            <v-row align="center">
              <v-col class="text-right" md="4">Name:</v-col>
                <v-text-field type="text" v-model="editClient.name" placeholder="enter name" />
              <v-col md>
              </v-col>
            </v-row>
            <v-row align="center">
              <v-col class="text-right" md="4">Email:</v-col>
                <v-text-field type="text" v-model="editClient.email" placeholder="enter email" />
              <v-col md>
              </v-col>
            </v-row>
            <v-row align="center">
              <v-col class="text-right" md="4">Phone:</v-col>
                <v-text-field type="text" @keyup="formatPhone" v-model="editClient.phone" placeholder="enter phone" />
              <v-col md>
              </v-col>
            </v-row>
            <v-row align="center">
              <v-col class="text-right" md="4">Providers:</v-col>
              <v-col class="mr-2">
                <v-row align="center">
                  <v-col md>
                    <div class="d-flex">
                      <v-text-field outlined dense v-model="providerName" />
                      <v-btn :disabled="!providerName" class="ml-1">
                        <v-icon>mdi-plus</v-icon> Add
                      </v-btn>
                    </div>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <v-row>
              <v-col offset-md="4">
                <div dense v-for="p of data.providers" :key="p.id">
                  <v-checkbox dense
                    :value="p.id"
                    :label="p.name"
                    @change="itemchanged(p)"
                    v-model="clientproviders" />
                </div>
                {{clientproviders}}
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
        <v-footer>
          <v-btn v-if="action!='a'" @click="deleteItem" class="pl-2 error">Delete</v-btn>
          <v-spacer></v-spacer>
          <v-btn @click="cancelEdit" class="mr-1">Cancel</v-btn>
          <v-btn :disabled="!validate" @click="saveClient" class="mr-1 primary">
            {{actionLabel}}
          </v-btn>
        </v-footer>
      </v-card>
    </v-dialog>
    <v-dialog persistent v-model="showDelete">
      <v-card>
        <v-card-title>Confirm Delete</v-card-title>
        <v-card-text>
          Are you sure to delete {{editClient.name}} ?
        </v-card-text>
        <v-card-actions>
          <v-btn @click="cancelConfirmDelete">Cancel</v-btn>
          <v-btn @click="confirmDelete" class="error">Ok</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
  export default {
    name: 'Clients',
    created () {
      this.fetchData();
    },
    data () {
      return {
        baseUrl: 'http://localhost:3060/client',
        openDialog: false,
        actionLabel: '',
        canDeleteclient: false,
        clientproviders: [],
        providerName: '',
        showDelete: false,
        oldClient: {},
        headers: [
          {
            text: 'Name',
            align: 'start',
            sortable: true,
            value: 'name',
            width: '20%'
          },
          {
            text: 'Email',
            align: 'start',
            sortable: true,
            value: 'email',
          },
          {
            text: 'Phone',
            align: 'start',
            sortable: true,
            value: 'phone',
          },
          {
            text: 'Providers',
            align: 'start',
            sortable: true,
            value: 'providers'
          },
          {
            text: 'Actions',
            value: 'actions'
          }
        ],
        data: {},
        editClient: {},
      }
    },
    computed: {
      validate() {
        const emailFormat = /^\w{1,}@\w{1,}\.\w{1,}/;
        return this.editClient.name
                && (this.editClient.email && this.editClient.email.match(emailFormat))
                && this.editClient.phone
      }
    },
    methods: {
      formatPhone() {
        let ph = this.editClient.phone.replaceAll('-','')
        this.editClient.phone = ph.length ? (ph.slice(0,3)+'-'+ph.slice(3,6)+'-'+ph.slice(6)).slice(0,12) : ''
    	},
      async fetchData() {
        const resp = await this.$http.get(`${this.baseUrl}/fetch`)
        this.data = resp.data
      },
      isClientProvider(p) {
        return this.data.providers.find(pr => pr.id === p.id)
      },
      providerNames(providers) {
        let d = []
        if (providers) {
          providers.forEach(p => {
            d.push(this.data.providers.find(pr => pr.id === p.id))
          })
        }
        return d.map(v => v.name)
      },
      editItem(item) {
        this.openDialog = true
        this.actionLabel = 'Save Client'
        this.editClient = Object.assign({},item)
        this.oldClient = Object.assign({},item)
        this.clientproviders = item.providers.map(p => p.id)
        this.action = 'e'
      },
      handleDelete(item) {
        this.editClient = item
        this.showDelete = true
        this.action = 'd'
      },
      deleteItem() {
        this.$http.post(`${this.baseUrl}/delete`, this.editClient)
        .then(() => {
        this.openDialog = false
          this.fetchData();
        })
      },
      cancelEdit() {
        if (this.action === 'e') {
          let idx = this.data.clients.findIndex(f => f.name.toLowerCase() === this.oldClient.name.toLowerCase())
          if (idx > -1) {
            this.data.clients[idx] = this.oldClient
          }
          this.closeDialog()
        }
      },
      closeDialog() {
        this.openDialog = false
      },
      closeEdit() {
        this.closeDialog()
      },
      saveClient() {
        this.closeDialog()
        this.editClient.providers = this.clientproviders.map(cp => {
          return {"id": cp}
        });
        const url = `${this.baseUrl}/update`;
        this.$http.post(url, this.editClient)
          .then(() => {
            this.fetchData();
          })
      },
      confirmDelete() {
        this.deleteItem()
        this.showDelete = false
      },
      cancelConfirmDelete() {
        this.showDelete = false
      },
      newItem() {
        this.openDialog = true
        this.actionLabel = 'Add Client'
        this.clientproviders = []
        this.editClient = {name: '', phone: '', email: '', providers: []}
      }
    }
  }
</script>
<style>
  .data {
    margin: 4vh 10vw;
  }
  .v-data-table-header * {
    font-size: 1.2em;
  }
</style>
