<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <h1>Clients Management System</h1>
      </div>
      <v-spacer></v-spacer>
    </v-app-bar>

    <v-main>
      <Clients />
    </v-main>
  </v-app>
</template>

<script>
import Clients from './components/Clients';

export default {
  name: 'App',
  components: {
    Clients
  },

  data: () => ({
    //
  }),
};
</script>
